<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Story 6 Fauzan Hanandito</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm border text-center">
                    <h1>Belajar</h1>
                    <br>
                    <div>
                        {% for s in list_peserta_belajar %}
                        <table>
                            <td> {{ s.nama_peserta_belajar }} </td>
                            <td><a href="{% url 'app6:delete_belajar' s.id %}"><button type="button">Delete</button></a></td>
                        </table>
                        {% endfor %}
                    </div>
                    <div>
                        <form action="add_peserta_belajar" method="POST">
                            {% csrf_token %}
                            {{ form_peserta_belajar.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm border text-center">
                    <h1>Main</h1>
                    <br>
                    <div>
                        {% for s in list_peserta_main %}
                        <table>
                            <td> {{ s.nama_peserta_main }} </td>
                            <td><a href="{% url 'app6:delete_main' s.id %}"><button type="button">Delete</button></a></td>
                        </table>
                        {% endfor %}
                    </div>
                    <div>
                        <form action="add_peserta_main" method="POST">
                            {% csrf_token %}
                            {{ form_peserta_main.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm border text-center">
                    <h1>Tidur</h1>
                    <br>
                    <div>
                        {% for s in list_peserta_tidur %}
                        <table>
                            <td> {{ s.nama_peserta_tidur }} </td>
                            <td><a href="{% url 'app6:delete_tidur' s.id %}"><button type="button">Delete</button></a></td>
                        </table>
                        {% endfor %}
                    </div>
                    <div>
                        <form action="add_peserta_tidur" method="POST">
                            {% csrf_token %}
                            {{ form_peserta_tidur.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>